<!DOCTYPE html>
<html lang="en">

<head>
    {% render "html_head.html",
    title: "Enjoying FOSS",
    metaKeywords: "open-source, free software, android, flutter",
    ogImage: "assets/preview_enjoyingfoss.webp"
    %}
	<script src="/assets/hire-me.js" defer></script>
</head>

<body>
    <div class="container mx-auto">
        {% render "navbar.html",
        activePage:"hire-me"
        %}
        <header class="text-center mb-4">
            <img src="assets/mirek.webp" alt="Preview of Enjoying FOSS apps" class="inline-block mb-4" width="280">

            <h1 class="text-5xl font-bold"><span alt="Hi," class="icon">fa_hand-wave</span> I'm Mirek</h1>
        </header>

        <main class="text-center text-l">
            <p class="mt-2">Let me help you develop your Flutter app!</p>
            <p class="mt-2">I can lend a hand up to ~1 man-day a week, short-term or long-term.</p>
            <p class="mt-2">Get in touch with me via:
            <ul class="list-none font-bold">
                <li class="mt-4">
                    <a href="&#109;&#97;&#105;l&#116;o&#58;con&#x74;&#x61;c&#x74;&commat;enj&#111;&#121;in&#103;" class="mr-12 emailencode" target="_blank">
                        <span class="icon text-xl mr-1">fa_envelope</span> <span
                            class="underline hover:no-underline">c&#x6F;&#x6E;t&#x61;<span class="email-disp">hidden
                                <b>
                                    text
                                </b> ignore
                                this</span>ct［а‎t］e&#x6E;&#x6A;<span
                                class="email-ydisp">oy</span>i&#x6E;gf<!-- a comment to prevent spam -->oss&period;c&#x6F;&#x6D;</span>
                    </a>
                </li>
                <li class="mt-4">
                    <a href="https://matrix.to/#/@mirekm:matrix.org" class="mr-12" target="_blank">
                        <span class="icon text-xl mr-1">fa_comment-dots</span> <span
                            class="underline hover:no-underline">Matrix
                            chat</span>
                    </a>
                </li>
                <li class="mt-4">
                    <a href="https://www.linkedin.com/in/miroslav-mazel-745194139/" class="mr-12" target="_blank">
                        <span class="icon text-xl mr-1">fa_linkedin</span> <span
                            class="underline hover:no-underline">LinkedIn</span>
                    </a>
                </li>
            </ul>
            </p>
        </main>

        {% render "footer.html" %}
    </div>
</body>

</html>