<!DOCTYPE html>
<html lang="en">

<head>
    {% render "html_head.html",
    title: "Enjoying FOSS",
    metaKeywords: "open-source, free software, android, flutter",
    ogImage: "assets/preview_enjoyingfoss.webp"
    %}
</head>

<body>
    <div class="container mx-auto">
        {% render "navbar.html" %}
        <header class="text-center mb-8">
            <img src="assets/preview_enjoyingfoss.webp" alt="Preview of Enjoying FOSS apps"
                class="inline-block w-fit lg:max-w-4xl h-auto mb-8">
            <h1 class="text-5xl font-bold mb-4">Enjoying FOSS</h1>
            <p class="text-xl text-slate-600">Free-as-in-freedom apps for your well‑being</p>
        </header>

        <main>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                {% render "project_tile.html",
                icon:"logo_bw_feeel",
                title:"Feeel",
                subtitle:"A fitness app that respects your privacy",
                link: "feeel",
                hoverFgColor: "text-feeel-700",
                %}

                {% render "project_tile.html",
                icon:"logo_bw_parlera",
                title:"Parlera",
                subtitle:"A party game where your friends describe and you guess",
                link: "parlera"
                hoverFgColor: "text-parlera-600",
                %}

                {% render "project_tile.html",
                icon:"logo_bw_empado",
                title:"Empado",
                subtitle:"An emotion and need journal that helps you find life strategies",
                link: "empado"
                hoverFgColor: "text-empado-700",
                %}

                {% render "project_tile.html",
                icon:"logo_bw_fosstriangulator",
                title:"FOSStriangulator",
                subtitle:"A tool for making triangulated illustrations out of photos",
                link: "fosstriangulator"
                hoverFgColor: "text-fosstriangulator-800",
                %}
            </div>
        </main>
        {% render "footer.html" %}
    </div>
</body>

</html>