<a href="{{ link }}" target="_blank">
    <div class="flex items-center bg-white hover:{{hoverFgColor}} p-4 rounded shadow hover:shadow-md">
        <div class="mr-4 icon text-3xl">
            {{ icon }}
        </div>
        <div>
            <h3 class="text-xl font-bold">{{ title }}</h3>
            <p>{{ subtitle }}</p>
        </div>
    </div>
</a>