<footer class="text-center mt-8">
    <div class="h-px bg-slate-300"></div>
    <div class="flex justify-center space-x-8 m-4">
        <a href="https://gitlab.com/enjoyingfoss" target="_blank"
            class="text-slate-600 hover:text-slate-800 underline hover:no-underline">Contribute on GitLab</a>
        <a href="https://liberapay.com/enjoyingfoss/" target="_blank"
            class="text-slate-600 hover:text-slate-800 underline hover:no-underline">Donate via Liberapay</a>
    </div>
</footer>