<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/">
<title>{% if title %} {{ title }} {% else %} Enjoying FOSS {% endif %}</title>
{% if metaDescription %}<meta name="description" content="{{ metaDescription }}">{% endif %}
{% if metaKeywords %}<meta name="keywords" content="{{ metaKeywords }}">{% endif %}
{% if ogImage %}<meta property="og:image" content="https://www.enjoyingfoss.com/{{ ogImage }}">{% endif %}
<meta name="robots" content="index, follow">
<link href="{{ '/tailwind.css' | url }}" rel="stylesheet" />
<link rel="icon" type="image/svg+xml" href="assets/favicon.svg" sizes="any">
<link rel="icon" type="image/png" href="assets/favicon.png" sizes="180x180">