<nav class="flex flex-col sm:flex-row items-center justify-between py-4">
    <div class="mb-4 sm:mb-0">
        <a href="">
            <img src="assets/logotype_enjoyingfoss.svg" alt="Logo" class="h-9">
        </a>
    </div>
    <div class="flex flex-wrap justify-center">
        {% capture isActive %}{{ activePage == "feeel" }}{% endcapture %}
        {% render 'navbar_icon.html',
        link: "feeel",
        alt: "Feeel",
        icon: "logo_bw_feeel",
        isActive: isActive,
        colorClass: "text-feeel-700", %}

        {% capture isActive %}{{ activePage == "parlera" }}{% endcapture %}
        {% render 'navbar_icon.html',
        link: "parlera",
        alt: "Parlera",
        icon: "logo_bw_parlera",
        isActive: isActive,
        colorClass: "text-parlera-600", %}

        {% capture isActive %}{{ activePage == "empado" }}{% endcapture %}
        {% render 'navbar_icon.html',
        link: "empado",
        alt: "Empado",
        icon: "logo_bw_empado",
        isActive: isActive,
        colorClass: "text-empado-700", %}

        {% capture isActive %}{{ activePage == "fosstriangulator" }}{% endcapture %}
        {% render 'navbar_icon.html',
        link: "fosstriangulator",
        alt: "FOSStriangulator",
        icon: "logo_bw_fosstriangulator",
        isActive: isActive,
        colorClass: "text-fosstriangulator-800", %}

        {% capture isActive %}{{ activePage == "hire-me" }}{% endcapture %}
        {% render 'navbar_link.html',
        link: "hire-me",
        label: "Hire me",
        isActive: isActive, %}
    </div>
</nav>
<div class="h-px bg-slate-300 mb-8"></div>