<a href="{{ link }}">
    <div class="bg-white hover:{{hoverFgColor}} p-4 rounded-lg shadow-md hover:shadow-lg">
        <p class="mb-4 icon text-6xl">
            {{ icon }}
        </p>
        <h2 class="text-3xl font-bold mb-2">{{ title }}</h2>
        <p class="texl-2xl">{{ subtitle }}</p>
    </div>
</a>