<!doctype html>

<html lang="en">

<head>
    {% assign pageTitle = title | append: " | Enjoying FOSS" %}
    {% render "html_head.html",
    title: pageTitle,
    metaDescription: metaDescription,
    metaKeywords: metaKeywords,
    ogImage: preview
    %}
</head>

<body>
    <div class="container mx-auto">
        {% render "navbar.html",
        activePage: pageSlug
        %}
        <main>
            <div class="lg:flex w-full items-center  mb-8">
                <div class="lg:w-1/2 px-4 mb-6 lg:mb-0">
                    <img src="{{ preview }}" alt="{{ title }} preview" class="w-full h-auto">
                </div>

                <div class="lg:w-1/2 px-4">

                    <div class="prose">
                        <div class="flex items-center mb-4">
                            {% if logo %}
                            <img src="{{ logo }}" class="w-16 h-16 mr-3">
                            {% endif %}
                            <h1 class="text-4xl font-bold">{{ title }}</h1>
                        </div>
                        <div class="mb-8">{{ content }}</div>

                        <div class="flex flex-wrap items-center mb-4">
                            {% if flathubLink %}
                            <a href="{{ flathubLink }}" target="_blank">
                                <img src="assets/store_flathub.svg" alt="Get {{ title }} on Flathub"
                                    class="w-40 mr-4 mb-4">
                            </a>
                            {% endif %}
                            {% if fdroidLink %}
                            <a href="{{ fdroidLink }}" target="_blank">
                                <img src="assets/store_fdroid.svg" alt="Get {{ title }} on F-Droid"
                                    class="w-40 mr-4 mb-4">
                            </a>
                            {% endif %}
                            {% if playStoreLink %}
                            <a href="{{ playStoreLink }}" target="_blank">
                                <img src="assets/store_play.svg" alt="Get {{ title }} on the Google Play Store"
                                    class="w-40 mr-4 mb-4">
                            </a>
                            {% endif %}
                            {% if microsoftStoreLink %}
                            <a href="{{ microsoftStoreLink }}" target="_blank">
                                <img src="assets/store_microsoft.svg" alt="Get {{ title }} on the Microsoft Store"
                                    class="w-40 mr-4 mb-4">
                            </a>
                            {% endif %}
                        </div>

                        {% if liberapayLink %}
                        <p>If you want to support this work, please <a class="{{linkColor}}" href="{{ liberapayLink }}"
                                target="_blank">chip in €1 a week</a>.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>

        <section class="{{ contributeBgColor }} pt-8 rounded-xl">
            <h2 class="text-2xl font-bold mb-4 text-center">Contribute</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-8 pb-8">
                {% if wgerWikiLink %}
                {% render "contribution_tile.html",
                icon:"fa_dumbbell",
                title:"Add or edit exercises",
                subtitle:"through the wger wiki"
                link:wgerWikiLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if lowPolyGuideLink %}
                {% render "contribution_tile.html",
                icon:"fa_image",
                title:"Craft low-poly illustrations",
                subtitle:"with FOSStriangulator",
                link:lowPolyGuideLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if categoriesLink %}
                {% render "contribution_tile.html",
                icon:"fa_envelope-open-text",
                title:"Propose categories",
                subtitle:"via Gitlab",
                link:categoriesLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if weblateLink %}
                {% render "contribution_tile.html",
                icon:"fa_language",
                title:"Translate",
                subtitle:"via Weblate",
                link:weblateLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if glDevelopLink %}
                {% render "contribution_tile.html",
                icon:"fa_code",
                title:"Develop",
                subtitle:"on GitLab",
                link:glDevelopLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if ghDevelopLink %}
                {% render "contribution_tile.html",
                icon:"fa_code",
                title:"Develop",
                subtitle:"on Github",
                link:ghDevelopLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if glBugLink %}
                {% render "contribution_tile.html",
                icon:"fa_bug",
                title:"Report bugs",
                subtitle:"on GitLab",
                link:glBugLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if ghBugLink %}
                {% render "contribution_tile.html",
                icon:"fa_bug",
                title:"Report bugs",
                subtitle:"on Github",
                link:ghBugLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if matrixLink %}
                {% render "contribution_tile.html",
                icon:"fa_comments",
                title:"Chat with the community",
                subtitle:"via Matrix",
                link:matrixLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}

                {% if liberapayLink %}
                {% render "contribution_tile.html",
                icon:"fa_circle-dollar-to-slot",
                title:"Donate €1/week",
                subtitle:"through Liberapay",
                link:liberapayLink,
                hoverFgColor: linkColor,
                %}
                {% endif %}
            </div>
        </section>

        {% render "footer.html" %}
    </div>
</body>

</html>