@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Enjoying FOSS";
        src: url('assets/Enjoying-FOSS.ttf') format('truetype');
    }
}

@layer components {

    .prose ol,
    ul {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    .prose a {
        @apply underline;
    }

    .prose a:hover {
        @apply no-underline;
    }

    .icon {
        font-family: "Enjoying FOSS";
        font-weight: 400 !important;
        line-height: 1 !important;
    }

    .email-disp {
        @apply hidden;
    }

    .email-ydisp {}
}